In [1]:
import csv

fifa_file = open('Fifa19.csv', encoding='utf-8')
file_reader = csv.reader(fifa_file)
player_data = list(file_reader)
fifa_file.close()
header = player_data[0]
player_data = player_data[1:]
for row in player_data:
    for idx in [2,4]:
        row[idx] = float(row[idx])

In [2]:
print(header)
for row in player_data[:5]:
    print(row)

['Id', 'Name', 'Age', 'Nationality', 'Overall', 'Club', 'Value', 'Wage', 'Preferred Foot', 'Jersey Number', 'Height', 'Weight']
['158023', 'L. Messi', 31.0, 'Argentina', 94.0, 'FC Barcelona', '€110.5M', '€565K', 'Left', '10', "5'7", '159lbs']
['20801', 'Cristiano Ronaldo', 33.0, 'Portugal', 94.0, 'Juventus', '€77M', '€405K', 'Right', '7', "6'2", '183lbs']
['190871', 'Neymar Jr', 26.0, 'Brazil', 92.0, 'Paris Saint-Germain', '€118.5M', '€290K', 'Right', '10', "5'9", '150lbs']
['193080', 'De Gea', 27.0, 'Spain', 91.0, 'Manchester United', '€72M', '€260K', 'Right', '1', "6'4", '168lbs']
['192985', 'K. De Bruyne', 27.0, 'Belgium', 91.0, 'Manchester City', '€102M', '€355K', 'Right', '7', "5'11", '154lbs']

In [3]:
def money(raw_wage):
    if raw_wage == '€ 0':
        return 0
    else:
        wage = float(raw_wage.strip(raw_wage[-1]).strip(raw_wage[0]))
        if raw_wage[-1] is 'K':
            return wage * 1000
        elif raw_wage[-1] is 'M':
            return wage * 1000000
        elif raw_wage[-1] is 'B':
            return wage * 1000000000

In [4]:
# oldest player in data
oldest = None
ages = {}
for i in range(len(player_data)):
    age = player_data[i][header.index('Age')]
    name = player_data[i][header.index('Name')]
    ages[name] = age

for player in ages:
    if oldest is None or ages[player] > ages[oldest]:
        oldest = player
oldest

'O. Pérez'

In [5]:
# highest paid player in data
highest_paid = None
wages = {}
for i in range(len(player_data)):
    pay = money(player_data[i][header.index('Wage')])
    name = player_data[i][header.index('Name')]
    wages[name] = pay

for player in wages:
    if highest_paid is None or wages[player] > wages[highest_paid]:
        highest_paid = player
highest_paid

'L. Messi'

In [6]:
# highest valued player in data
highest_val = None
val = {}
for i in range(len(player_data)):
    value = money(player_data[i][header.index('Value')])
    name = player_data[i][header.index('Name')]
    val[name] = value

for player in val:
    if highest_val is None or val[player] > val[highest_val]:
        highest_val = player
highest_val

'Neymar Jr'

In [7]:
# highest valued club in data
for i in range(len(player_data)):
    name = player_data[i][header.index('Name')]
    club = player_data[i][header.index('Club')]
    if name == highest_val:
        highest_val_club = club
highest_val_club

'Paris Saint-Germain'

In [8]:
def get_column(col_name):
    """Returns items in player_data of the specified column name"""
    values = []
    for i in range(len(player_data)):
        col = player_data[i][header.index(col_name)]
        values.append(col)
    return values

In [9]:
# first five nationalities listed in data
get_column('Nationality')[:5]

['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium']

In [10]:
# first five players alphabetically in data
names = get_column('Name')
names.sort()
names[:5]

['A. Abang', 'A. Abdellaoui', 'A. Abdennour', 'A. Abdi', 'A. Abdu Jaber']

In [11]:
# avg value of players in data
total = 0
total_vals = get_column('Value')
for i in range(len(total_vals)):
    total += money(total_vals[i])
avg_value = total / len(total_vals)
avg_value

2410695.8861976163

In [12]:
# avg age of players in data
total = 0
total_age = get_column('Age')
for i in range(len(total_age)):
    total += total_age[i]
avg_value = total / len(total_age)
avg_value

25.122205745043114

In [13]:

def player_count(country):
    """Counts the number of players per country."""
    count = 0
    nation = get_column('Nationality')
    for i in range(len(nation)):
        if nation[i] == country:
            count += 1
    return count

In [14]:
# number of players from Portugal
player_count('Portugal')

322

In [15]:
# number of players from Brazil
player_count('Brazil')

827

In [16]:
# country with the highest number of players in data
nation_numbers = {}
nation = get_column('Nationality')
for i in range(len(nation)):
    if nation[i] not in nation_numbers:
        nation_numbers[nation[i]] = 1
    else:
        nation_numbers[nation[i]] += 1


highest_num_players = None
for i in nation_numbers:
    if highest_num_players == None or nation_numbers[i] > nation_numbers[highest_num_players]:
        highest_num_players = i
highest_num_players

'England'

In [17]:
def player_to_dict(ID):
    """Finds player using ID number and returns a dict of values"""
    keys = header
    player = {}
    for i in range(len(player_data)):
        if player_data[i][0] == ID:
            vals = player_data[i]
            for i in range(len(keys)):
                player[keys[i]] = vals[i]
    return player

In [18]:
# returns a dict of player with the id 20801
player_to_dict('20801')

{'Id': '20801',
 'Name': 'Cristiano Ronaldo',
 'Age': 33.0,
 'Nationality': 'Portugal',
 'Overall': 94.0,
 'Club': 'Juventus',
 'Value': '€77M',
 'Wage': '€405K',
 'Preferred Foot': 'Right',
 'Jersey Number': '7',
 'Height': "6'2",
 'Weight': '183lbs'}

In [19]:
# returns a dict of player with the id 190871
player_to_dict('190871')

{'Id': '190871',
 'Name': 'Neymar Jr',
 'Age': 26.0,
 'Nationality': 'Brazil',
 'Overall': 92.0,
 'Club': 'Paris Saint-Germain',
 'Value': '€118.5M',
 'Wage': '€290K',
 'Preferred Foot': 'Right',
 'Jersey Number': '10',
 'Height': "5'9",
 'Weight': '150lbs'}

In [20]:
# returns a dict of player with the id 158023
player_to_dict('158023')

{'Id': '158023',
 'Name': 'L. Messi',
 'Age': 31.0,
 'Nationality': 'Argentina',
 'Overall': 94.0,
 'Club': 'FC Barcelona',
 'Value': '€110.5M',
 'Wage': '€565K',
 'Preferred Foot': 'Left',
 'Jersey Number': '10',
 'Height': "5'7",
 'Weight': '159lbs'}

In [21]:
# returns a dict of player with the id 192985
player_to_dict('192985')

{'Id': '192985',
 'Name': 'K. De Bruyne',
 'Age': 27.0,
 'Nationality': 'Belgium',
 'Overall': 91.0,
 'Club': 'Manchester City',
 'Value': '€102M',
 'Wage': '€355K',
 'Preferred Foot': 'Right',
 'Jersey Number': '7',
 'Height': "5'11",
 'Weight': '154lbs'}

In [22]:
# number of players from each country
nation_numbers = {}
nation = get_column('Nationality')
for i in range(len(nation)):
    if nation[i] not in nation_numbers:
        nation_numbers[nation[i]] = 1
    else:
        nation_numbers[nation[i]] += 1
nation_numbers

{'Argentina': 937,
 'Portugal': 322,
 'Brazil': 827,
 'Spain': 1072,
 'Belgium': 260,
 'Croatia': 126,
 'Uruguay': 149,
 'Slovenia': 55,
 'Poland': 350,
 'Germany': 1198,
 'France': 914,
 'England': 1662,
 'Italy': 702,
 'Egypt': 31,
 'Colombia': 618,
 'Denmark': 336,
 'Gabon': 15,
 'Wales': 129,
 'Senegal': 130,
 'Costa Rica': 30,
 'Slovakia': 54,
 'Netherlands': 453,
 'Bosnia Herzegovina': 61,
 'Morocco': 85,
 'Serbia': 126,
 'Algeria': 60,
 'Austria': 298,
 'Greece': 102,
 'Chile': 391,
 'Sweden': 397,
 'Korea Republic': 335,
 'Finland': 67,
 'Guinea': 31,
 'Montenegro': 23,
 'Armenia': 10,
 'Switzerland': 220,
 'Norway': 341,
 'Czech Republic': 100,
 'Scotland': 286,
 'Ghana': 114,
 'Central African Rep.': 3,
 'DR Congo': 52,
 'Ivory Coast': 100,
 'Russia': 79,
 'Ukraine': 73,
 'Iceland': 47,
 'Mexico': 366,
 'Jamaica': 32,
 'Albania': 40,
 'Venezuela': 67,
 'Japan': 478,
 'Turkey': 303,
 'Ecuador': 43,
 'Paraguay': 85,
 'Mali': 43,
 'Nigeria': 121,
 'Cameroon': 90,
 'Dominican Republic': 2,
 'Israel': 14,
 'Kenya': 10,
 'Hungary': 38,
 'Republic of Ireland': 368,
 'Romania': 54,
 'United States': 353,
 'Cape Verde': 19,
 'Australia': 236,
 'Peru': 37,
 'Togo': 12,
 'Syria': 9,
 'Zimbabwe': 13,
 'Angola': 15,
 'Burkina Faso': 16,
 'Iran': 17,
 'Estonia': 13,
 'Tunisia': 32,
 'Equatorial Guinea': 5,
 'New Zealand': 44,
 'FYR Macedonia': 20,
 'United Arab Emirates': 1,
 'China PR': 392,
 'Guinea Bissau': 15,
 'Bulgaria': 32,
 'Kosovo': 33,
 'South Africa': 71,
 'Madagascar': 12,
 'Georgia': 26,
 'Tanzania': 3,
 'Gambia': 15,
 'Cuba': 4,
 'Belarus': 4,
 'Uzbekistan': 2,
 'Benin': 15,
 'Congo': 25,
 'Mozambique': 4,
 'Honduras': 16,
 'Canada': 64,
 'Northern Ireland': 80,
 'Cyprus': 8,
 'Saudi Arabia': 340,
 'Curacao': 14,
 'Moldova': 5,
 'Bolivia': 30,
 'Trinidad & Tobago': 4,
 'Sierra Leone': 6,
 'Zambia': 9,
 'Chad': 2,
 'Philippines': 2,
 'Haiti': 10,
 'Comoros': 6,
 'Libya': 4,
 'Panama': 15,
 'São Tomé & Príncipe': 1,
 'Eritrea': 2,
 'Oman': 1,
 'Iraq': 7,
 'Burundi': 3,
 'Fiji': 1,
 'New Caledonia': 1,
 'Lithuania': 8,
 'Luxembourg': 8,
 'Korea DPR': 4,
 'Liechtenstein': 3,
 'St Kitts Nevis': 3,
 'Latvia': 6,
 'Suriname': 4,
 'Uganda': 6,
 'El Salvador': 5,
 'Bermuda': 2,
 'Kuwait': 1,
 'Antigua & Barbuda': 4,
 'Thailand': 5,
 'Mauritius': 1,
 'Guatemala': 3,
 'Liberia': 1,
 'Kazakhstan': 4,
 'Niger': 3,
 'Mauritania': 4,
 'Montserrat': 4,
 'Namibia': 3,
 'Azerbaijan': 5,
 'Guam': 1,
 'Faroe Islands': 6,
 'India': 30,
 'Nicaragua': 2,
 'Barbados': 3,
 'Lebanon': 1,
 'Palestine': 1,
 'Guyana': 3,
 'Sudan': 3,
 'St Lucia': 1,
 'Ethiopia': 1,
 'Puerto Rico': 1,
 'Grenada': 1,
 'Jordan': 1,
 'Rwanda': 1,
 'Qatar': 1,
 'Afghanistan': 4,
 'Hong Kong': 2,
 'Andorra': 1,
 'Malta': 1,
 'Belize': 1,
 'South Sudan': 1,
 'Indonesia': 1,
 'Botswana': 1}

In [23]:
# number of players by jersey number
jersey_numbers = {}
jersey = get_column('Jersey Number')
for i in range(len(jersey)):
    if jersey[i] not in jersey_numbers:
        jersey_numbers[jersey[i]] = 1
    else:
        jersey_numbers[jersey[i]] += 1
jersey_numbers

{'10': 593,
 '7': 604,
 '1': 566,
 '9': 577,
 '15': 501,
 '8': 612,
 '21': 536,
 '13': 419,
 '22': 531,
 '5': 579,
 '3': 547,
 '14': 542,
 '12': 390,
 '11': 590,
 '2': 519,
 '23': 546,
 '26': 390,
 '6': 586,
 '17': 554,
 '18': 545,
 '4': 573,
 '19': 545,
 '31': 280,
 '25': 409,
 '37': 135,
 '30': 371,
 '44': 74,
 '29': 358,
 '24': 425,
 '20': 568,
 '16': 517,
 '33': 287,
 '28': 357,
 '27': 423,
 '77': 77,
 '47': 28,
 '38': 102,
 '40': 114,
 '92': 10,
 '36': 145,
 '87': 14,
 '34': 207,
 '32': 250,
 '83': 6,
 '70': 29,
 '35': 183,
 '89': 15,
 '56': 17,
 '99': 70,
 '57': 8,
 '91': 21,
 '86': 4,
 '45': 47,
 '63': 4,
 '39': 107,
 '43': 41,
 '42': 54,
 '93': 14,
 '72': 7,
 '71': 10,
 '88': 44,
 '55': 35,
 '80': 16,
 '50': 42,
 '66': 27,
 '60': 10,
 '73': 6,
 '67': 5,
 '74': 2,
 '69': 6,
 '76': 4,
 '41': 53,
 '90': 26,
 '46': 29,
 '75': 6,
 '79': 2,
 '62': 6,
 '81': 5,
 '61': 7,
 '49': 19,
 '95': 12,
 '53': 11,
 '96': 13,
 '97': 16,
 '68': 4,
 '98': 21,
 '94': 11,
 '58': 5,
 '78': 5,
 '': 60,
 '48': 17,
 '52': 10,
 '54': 11,
 '84': 4,
 '82': 5,
 '65': 4,
 '64': 2,
 '51': 7,
 '59': 5,
 '85': 1}

In [24]:
# average rating of players for each jersey number
jersey = get_column('Jersey Number')
rating = get_column('Overall')
jersey_numbers #denominator
jersey_rating_totals = {}
result = {}
for i in range(len(jersey)):
    if jersey[i] not in jersey_rating_totals:
        jersey_rating_totals[jersey[i]] = rating[i]
    else:
        jersey_rating_totals[jersey[i]] += rating[i]

for i in jersey_rating_totals:
    result[i] = jersey_rating_totals[i] / jersey_numbers[i]
result

{'10': 70.38617200674537,
 '7': 68.87251655629139,
 '1': 68.35689045936395,
 '9': 69.28769497400347,
 '15': 66.53493013972056,
 '8': 68.83006535947712,
 '21': 66.2723880597015,
 '13': 66.90214797136038,
 '22': 66.31638418079096,
 '5': 68.49740932642487,
 '3': 67.38939670932358,
 '14': 66.9870848708487,
 '12': 65.43076923076923,
 '11': 68.3406779661017,
 '2': 67.58766859344894,
 '23': 66.46886446886447,
 '26': 64.04358974358975,
 '6': 68.19283276450511,
 '17': 66.9115523465704,
 '18': 66.45688073394496,
 '4': 67.76614310645724,
 '19': 66.63669724770642,
 '31': 63.06785714285714,
 '25': 64.59413202933985,
 '37': 61.785185185185185,
 '30': 63.1644204851752,
 '44': 64.70270270270271,
 '29': 63.92178770949721,
 '24': 64.65411764705883,
 '20': 66.7306338028169,
 '16': 66.08510638297872,
 '33': 63.29965156794425,
 '28': 63.943977591036415,
 '27': 64.36170212765957,
 '77': 66.1038961038961,
 '47': 63.57142857142857,
 '38': 61.77450980392157,
 '40': 61.51754385964912,
 '92': 68.9,
 '36': 60.5448275862069,
 '87': 68.35714285714286,
 '34': 62.072463768115945,
 '32': 62.152,
 '83': 67.66666666666667,
 '70': 64.72413793103448,
 '35': 60.92896174863388,
 '89': 65.4,
 '56': 65.11764705882354,
 '99': 64.35714285714286,
 '57': 68.125,
 '91': 66.76190476190476,
 '86': 64.0,
 '45': 62.0,
 '63': 69.0,
 '39': 62.52336448598131,
 '43': 60.048780487804876,
 '42': 62.5,
 '93': 67.28571428571429,
 '72': 65.0,
 '71': 64.5,
 '88': 66.5,
 '55': 63.0,
 '80': 63.4375,
 '50': 62.30952380952381,
 '66': 63.77777777777778,
 '60': 64.1,
 '73': 64.33333333333333,
 '67': 64.6,
 '74': 67.5,
 '69': 68.66666666666667,
 '76': 68.0,
 '41': 61.37735849056604,
 '90': 65.61538461538461,
 '46': 60.206896551724135,
 '75': 66.5,
 '79': 71.5,
 '62': 62.0,
 '81': 65.0,
 '61': 61.57142857142857,
 '49': 59.68421052631579,
 '95': 65.25,
 '53': 62.45454545454545,
 '96': 64.53846153846153,
 '97': 62.4375,
 '68': 67.0,
 '98': 60.904761904761905,
 '94': 66.72727272727273,
 '58': 62.8,
 '78': 65.6,
 '': 61.63333333333333,
 '48': 61.470588235294116,
 '52': 61.8,
 '54': 61.0,
 '84': 63.75,
 '82': 59.8,
 '65': 58.5,
 '64': 62.5,
 '51': 58.0,
 '59': 57.2,
 '85': 57.0}

In [25]:
# jersey number with the highest avg rating
result
highest_avg_rating = None
for i in result:
    if highest_avg_rating == None or result[i] > result[highest_avg_rating]:
        highest_avg_rating = i
highest_avg_rating

'79'

In [26]:
# club with the highest avg wage
clubs = {}
club = get_column('Club')
for i in range(len(club)):
    if club[i] not in clubs:
        clubs[club[i]] = 1
    else:
        clubs[club[i]] += 1

wage = get_column('Wage')
clubs #denominator
club_wage_totals = {}
highest_wages = {}
for i in range(len(club)):
    if club[i] not in club_wage_totals:
        club_wage_totals[club[i]] = money(wage[i])
    else:
        club_wage_totals[club[i]] += money(wage[i])

for i in club_wage_totals:
    highest_wages[i] = club_wage_totals[i] / clubs[i]
highest_wages

highest_avg_wage = None
for i in highest_wages:
    if highest_avg_wage == None or highest_wages[i] > highest_wages[highest_avg_wage]:
        highest_avg_wage = i
highest_avg_wage

'Real Madrid'